In [5]:
#시리즈 객체 생성

import pandas as pd
import numpy as np

s = pd.Series([1, 3, 5, np.nan, "a", "b"])
print(s)

0      1
1      3
2      5
3    NaN
4      a
5      b
dtype: object

In [3]:
#시리즈 인덱스 생성

s = pd.Series([1, 3, 5, np.nan, "a", "b"], index=["idx1", "idx2", "idx3", "idx4", "idx5", "idx6"])
print(s)

idx1      1
idx2      3
idx3      5
idx4    NaN
idx5      a
idx6      b
dtype: object

In [7]:
#데이터프레임 객체 생성

data = [[1, 3, 5, np.nan, "a", "b"],
        [2, 6, 10, np.nan, "c", "d"]
       ]
s = pd.DataFrame(data, index=["idx1", "idx2"], 
                 columns=["col1","col2","col3","col4","col5","col6"])
print(s)

      col1  col2  col3  col4 col5 col6
idx1     1     3     5   NaN    a    b
idx2     2     6    10   NaN    c    d

In [22]:
#컬럼 및 인덱스선택

idx = np.array(range(6))
df = pd.DataFrame(np.random.randn(6, 4), index=idx, columns=["a","b","c","d"])
print(df)
print()
print(df['a'])

          a         b         c         d
0 -0.215922  0.455111 -0.530524  0.021403
1  0.534050 -0.667067  0.159804 -0.067282
2 -0.716618 -0.459836 -0.101399  1.231672
3 -0.576396  0.372282 -1.046041 -0.879706
4  0.013992 -0.589391 -0.380709 -0.653881
5  0.812316 -0.798568 -0.280634 -0.017964

0   -0.215922
1    0.534050
2   -0.716618
3   -0.576396
4    0.013992
5    0.812316
Name: a, dtype: float64

In [32]:
#데이터프레임 모양 확인

idx = np.array(range(6))
df = pd.DataFrame(np.random.randn(6, 4), columns=["a","b","c","d"])
print(df)
print(df.shape)

          a         b         c         d
0  0.713359  0.982270 -1.701803 -0.591221
1 -0.862482  0.432335  0.159694 -0.847623
2 -0.108942  1.671552  0.051238 -0.817856
3  0.632424 -0.811225 -0.012059  0.990477
4  1.587407  0.356856  0.431181 -1.056767
5  0.556012  0.311385  0.271444  0.602204
(6, 4)

In [23]:
#통계정보 보기

idx = np.array(range(6))
df = pd.DataFrame(np.random.randn(6, 4), index=idx, columns=["a","b","c","d"])
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean   0.109418 -0.001519 -0.105304 -0.742033
std    0.715431  0.745361  0.948996  0.706721
min   -0.858905 -0.691998 -1.142988 -1.720904
25%   -0.317305 -0.637599 -0.545678 -1.187561
50%    0.156358 -0.102602 -0.255039 -0.758813
75%    0.402199  0.397842 -0.052464 -0.140711
max    1.193743  1.139364  1.648741  0.051489

In [30]:
#일반정보 보기

df = pd.DataFrame(np.random.randn(6, 4), columns=["a","b","c","d"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       6 non-null      float64
 1   b       6 non-null      float64
 2   c       6 non-null      float64
 3   d       6 non-null      float64
dtypes: float64(4)
memory usage: 320.0 bytes

In [26]:
#데이터프레임 전체 데이터 

df = pd.DataFrame(np.random.randn(200, 4), columns=["a","b","c","d"])
print(df)

            a         b         c         d
0   -0.709418  0.397119 -0.383441 -1.622081
1   -0.564629 -1.211506 -1.175069  0.716943
2   -2.055401  1.124819 -1.856731  1.696683
3   -0.994346 -0.488968 -0.142444 -0.130560
4    0.242298  0.720844 -2.672846 -1.509635
..        ...       ...       ...       ...
195  0.463346  0.912403 -0.793765 -0.579772
196 -0.640912  0.524687  0.757707 -1.576958
197  0.317320  2.243333  1.146976  0.503231
198  0.443343  0.562928  0.630852 -1.097604
199 -1.290146 -0.959566  0.405607 -2.220004

[200 rows x 4 columns]

In [28]:
#데이터프레임 head & tail

df = pd.DataFrame(np.random.randn(200, 4), columns=["a","b","c","d"])
print(df.head(10))
print(df.tail(10))

          a         b         c         d
0  0.523974  0.752191  0.132852 -0.967195
1 -1.236502  0.067536 -0.251912 -0.281397
2 -0.452141 -0.920874  1.117456  0.403201
3  0.513522  1.007877 -1.219299 -0.589433
4  1.153857  0.527106  2.218644  0.340974
5  1.292186 -0.395556  2.013172  0.138906
6  0.879741 -0.907632 -0.652471  0.680190
7  1.024243  0.015851  0.334909 -1.028323
8  0.091272  1.139247  1.075726 -0.168759
9  0.131048  1.383980 -0.499053  1.110596
            a         b         c         d
190 -0.049971 -1.275513 -0.371615 -0.592913
191  0.485169  1.121597 -1.035933  0.270875
192  0.911126 -0.038962  1.123417  1.455528
193 -0.058267  0.670622  1.465979  0.683924
194  1.286465  1.092097  0.061492  0.347582
195 -0.994675 -0.025787  1.165725  1.675531
196  1.071496 -0.771219 -0.414712  1.413021
197 -1.603017 -0.050193 -0.063699 -0.028119
198  1.119725 -1.215538 -0.908641  1.402113
199  2.603305  0.273340  0.906403  0.978775